<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="~/CSS/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/modal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="container_header">
            <div class="header_container">
                <div class="header_container--left">
                    <a href="dashboard"><img src="/resource/logo/logo_single.svg" alt="logo"></a>
                </div>
                <div class="header_container--right">
                    <div class="header_button">
                        <a href="@Url.Action("createDCard", "DcontactAndDcrad" )"><button class="button-3" role="button">Order</button></a>
                    </div>
                    <div class="option_setting">
                        <button class="button-3" id="setting_button" role="button">Setting</button>
                        <div class="drop_setting">
                            <ul>
                                <li class="drop_setting--item"><a class="button_profile" id="btn-profile"> Profile</a></li>
                                <li class="drop_setting--item"><a href="@Url.Action("Logout", "Shared" )" class="button_logout">LogOut</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <div class="modal js-modal " id="account">
        <div class="modal-container">
            <div class="modal__header">
                <h2>Your Account</h2> <i class="fa fa-close"></i>
            </div>
            @{
                var user = (Bean.User)Session["user"];
            }
            <div class="modal__contener">
                <div class="modal__item item__spacebetween">
                    <div> <span>Username: </span> <span class="confirm__value" id="username_value">@user.username</span></div><span></span>
                </div>
                <div class="modal__item item__spacebetween">
                    <div> <span>Email</span> <span class="confirm__value" id="email_value">@user.email</span></div><span><a href="@Url.Action("Comfirm", "Account",new {typeChange = "email"})" id="changemail" class="profile-link">Change Email</a></span>
                </div>
                <div class="modal__item item__spacebetween">
                    <div> <span>Password</span><span class="confirm__value" id="password_value">***********</span></div><span><a href="@Url.Action("CreateNewPassword", "Account")" class="profile-link">Change PassWord</a></span>
                </div>
                <div class="modal_foo center_site">
                    <button type="button" id='close'>Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src='~/MyScript/check.js'></script>
</body>
</html>




