@{
    ViewBag.Title = "dashboard";
    Layout = "~/Views/Shared/Header.cshtml";
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="~/CSS/dashboard.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,500;1,200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="/CSS/header.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/CSS/modal.css"> -->
</head>

<body>
    @{
        Bean.Dcontact dcontact = ViewBag.dcontact;
    }
    <div class="container">
        <header>
        </header>
        <main class="container__main">
            <!-- Left sidebar -->
            <aside class="container__left">
                <div class="container__statistical">
                    <div class="container__statistical__header">
                        <h2>Statistical</h2>
                    </div>
                    <div class="statistical__contener">
                        <div class="statistical__summary">
                            <div class="statistical__summary--item">Views: <span>@dcontact.numerView</span></div>
                         
                            <div class="statistical__summary--item">Click: <span>chuatinhtong</span></div>
                        </div>
                        <div class="divider"></div>
                        <div class="statistical__detail">
                            <ul>
                                @{
                                    foreach (Bean.Row row in dcontact.rows)
                                    {
                                        <li>
                                            <div class="detail--item">
                                                <span name="title">@row.text</span> <span>@row.click</span>
                                            </div>
                                        </li>
                                    }

                                }
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- <div class="arrow" style="color: black; font-size:30px;"><i class="fa fa-arrow-circle-right"></i></div> -->
            </aside>


            <!-- Right sidebar -->
            <nav class="container__right">
                <div class="contener">
                    <div class="card__contener"  >
                        <div class="card__contener--header">
                            <img src="@dcontact.avt"
                                 alt="avatar">
                        </div>
                        <div class="card__contener--body">
                            <ul>

                                @{
                                    foreach (Bean.Row row in dcontact.rows)
                                    {
                                                                <li>
                                                                    <div class="button" role="button" style="background-color: @row.color" href="@row.link">
                                                                        <i class="@row.bullet"></i>
                                                                       
                                                                        <div class="card--item__text">
                                                                            <label>@row.text</label>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                        }
                                    }
                                <!--<li>
        <div class="button" role="button" style="background-color: #273c75">
            <i class="fa fa-facebook-square"></i>
                                <!-- Label -->
                                <!--<div class="card--item__text">
                <label>Facebook</label>
            </div>
        </div>
    </li>-->

                            </ul>
                        </div>
                        <div class="card__contener--footer">
                            <div class="logo--mini">
                                <img src="resource/logo/logo_full.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </nav>
        </main>
    </div>
    <script src='~/MyScript/dashboard.js'></script>
    <script src='~/MyScript/check.js'></script>
    <script>
            $('.card__contener').css('background-image', "url('@dcontact.background')");   //cho load anh
/**/
    </script>
</body>
</html>

