@{ ViewBag.Title = "editDContact";
    Layout = "~/Views/Shared/Header.cshtml"; }
@{
    Bean.Dcontact dcontact = ViewBag.dcontact;
    List<string> template = ViewBag.template;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Edit DContact</title>
    <link rel="stylesheet" href="~/CSS/editDc.css" />
    <link rel="stylesheet" href="~/CSS/switch.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="
    https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,500;1,200&display=swap"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap"
          rel="stylesheet" />

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css'>

</head>


<body>
    <div class="container scrollbar-hidden">
        <header>
        </header>
        <main class="container__main">
            <!-- Left sidebar -->
            <aside class="container__left">
                <div class="container__template">
                    <div class="template__container scrollbar-hidden">
                        <fieldset>
                            <legend>Avatar</legend>
                            <div class="file-input">
                                <!-- <input type="file" id="file" class="file"> -->
                                <input type="file" id="image-avatar" accept="image/png, image/gif, image/jpeg">   @*an bang bang css , kich hoat bang click file__label*@
                                <label for="" class="file__label">Select file</label>
                            </div>
                        </fieldset>
                        <div class="template__header">
                            <h3 class=" tracking-in-expand">Template</h3>
                        </div>
                        <div class="template__detail">
                            <ul>
                                <li>
                                    <input type="file" id="image-template" accept="image/png, image/gif, image/jpeg">
                                    <button class="btn-addTemp">Add New Template</button>
                                </li>
                                @{ foreach (string path in template)
                                    {
                                        <li>
                                            <div class="inf-temp">
                                                <img src="@path" class="img-temp" />
                                                <p class="name-temp">Template @template.IndexOf(path)</p>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="arrow" style="color: black; font-size:30px;"><i class="fa fa-arrow-circle-right"></i></div> -->
            </aside>
            <!-- Todo []-->
            <!-- Right sidebar -->

            <nav class="container__center">

                <div class="contener">
                    <div class="card__contener" id="preview-crop-image" style="background-image: url(@dcontact.background);">

                        <div class="card__contener--header">
                            <img id="avatar-result" alt="avatar" src="@dcontact.avt" />
                        </div>
                        <div class="card__contener--body scrollbar-hidden">
                            <ul class="social-list" id="list">
                                @{ foreach (Bean.Row row in dcontact.rows)
                                    {
                                        <li id="@row.ID">
                                            <span class="report"><abbr title="Click here to delete this link"><i class="fa fa-trash-o"></i></abbr></span>
                                            <div class="button"
                                                 role="button"
                                                  id="@Util.UUID.getUUID()"
                                                 style="background-color: @row.color; height: 26.875px" url="@row.link" code ="@row.code">
                                                <i class="@row.bullet"></i>
                                                <div class="card--item__text">
                                                    <label style="font-family: @row.font;">@row.text</label>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }


                            </ul>
                        </div>
                        <div class="card__contener--footer">
                            <div class="logo--mini">
                                <img src="/resource/logo/logo_full.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <nav class="container__right scrollbar-hidden container__right--url">
                <div class="right__field scrollbar-hidden">
                    <div class="url-area" target=" ">
                        <div class="title__input">
                            <input type="text" name="Tilte" id="titleUrl" />
                            <label for="Title" class="title__label">Title</label>
                        </div>
                        <div class="url__input" target="">
                            <input type="text" name="Link" id="linkUrl" /> </br>
                            <label for="Link" class="url__label">URL</label>
                        </div>
                        <!-- Radio Check -->
                        <div class="radio-area">
                            <input type="radio" id="font" name="cmn-form" value="font" class="cmnRadio" />
                            <label for="font">Font</label>
                            <input type="radio" id="bullet" name="cmn-form" value="bullet" class="cmnRadio" />
                            <label for="bullet">Bullet</label>
                            <input type="radio" id="gate" name="cmn-form" value="gate" class="cmnRadio" />
                            <label for="gate">Gate</label>
                        </div>
                        <!-- FONT -->
                        <div class="font-area">
                            <select id="fs">
                                <option value="" autofocus>Select Font</option>
                                <option value="Arial">Arial</option>
                                <option value="Verdana ">Verdana </option>
                                <option value="Impact ">Impact </option>
                                <option value="Comic Sans MS">Comic Sans MS</option>
                                <option value="Consolas">Consolas</option>
                                <option value="Verdana">Verdana</option>
                                <option value="Tahoma">Tahoma</option>
                                <option value="Franklin Gothic Medium">Franklin Gothic Medium</option>
                                <option value="Segoe UI">Segoe UI</option>
                                <option value="sans-serif">Sans-Serif</option>
                                <option value="Cursive">Cursive</option>
                            </select>
                            <span class="colorText">
                                Color BackgroundTag <input type="color" name="ColorBackground" id="bgColor" value="#273c75">
                            </span>
                        </div>
                        <!-- BULLET -->
                        <div class="bullet-area">
                            Your Bullet <span class="bulletResult"><i class=""></i></span>

                            <table border="1">
                                <tr>
                                    <td class="iconSocial" id="fb"><i class="fa fa-facebook-square"></i></td>
                                    <td class="iconSocial" id="ytb"><i class="fa fa-youtube-play"></i></td>
                                    <td class="iconSocial" id="ins"><i class="fa fa-instagram"></i></td>
                                    <td class="iconSocial" id="ctct"><i class="fa fa-envelope"></i></td>
                                </tr>
                                <tr>
                                    <td class="iconSocial" id="phone"><i class="fa fa-phone"></i></td>
                                    <td class="iconSocial" id="twt"><i class="fa fa-twitter-square"></i></td>
                                    <td class="iconSocial" id="cmr"><i class="fa fa-camera-retro"></i></td>
                                    <td class="iconSocial" id="cart"><i class="fa fa-shopping-cart"></i></td>
                                </tr>
                                <tr>
                                    <td class="iconSocial" id="google"><i class="fa fa-google"></i></td>
                                    <td class="iconSocial" id="apple"><i class="fa fa-apple"></i></td>
                                    <td class="iconSocial" id="music"><i class="fa fa-music"></i></td>
                                    <td class="iconSocial" id="gc"><i class="fa fa-graduation-cap"></i></td>
                                </tr>
                                <tr>
                                    <td class="iconSocial" id="cube"><i class="fa fa-cube"></i></td>
                                    <td class="iconSocial" id="plane"><i class="fa fa-plane"></i></td>
                                    <td class="iconSocial" id="edge"><i class="fa fa-edge"></i></td>
                                    <td class="iconSocial" id="folder"><i class="fa fa-folder-open"></i></td>
                                </tr>
                                <tr>
                                    <td class="iconSocial" id="github"><i class="fa fa-github"></i></td>
                                    <td class="iconSocial" id="link"><i class="fa fa-link"></i></td>
                                    <td class="iconSocial" id="scloud"><i class="fa fa-soundcloud"></i></td>
                                    <td class="iconSocial" id="gift"><i class="fa fa-gift"></i></td>
                                </tr>
                            </table>
                        </div>
                        <!-- GATE -->
                        <div class="gate-area">
                            <div class="gate__item">
                                <label class="switch">
                                    <input type="checkbox" value="false" id="toggleCode">
                                    <span class="slider round"></span>
                                </label>
                                <span class="span"> Code to Access </span>
                            </div>
                            <div class="code-form">
                                <input type="number" name="codeAccess" id="codeAccess"
                                       min="1000" max="9999"> <i class="fas fa-exclamation-circle error-icon err-code"></i>
                                <label for="codeAccess" class="code__label">Code</label>
                                <input type="button" value="Apply" class="applyCode">
                            </div>
                            <div class="gate__item">
                                <label class="switch">
                                    <input type="checkbox" value="false" id="toggleAge">
                                    <span class="slider round"></span>
                                </label>
                                <span class="span">Age Confirmation</span>
                            </div>
                            <div class="age-form">
                                <input type="number" name="ageAccess" id="ageConfirm"
                                       min="14" max="99"> <i class="fas fa-exclamation-circle error-icon err-age"></i>
                                <label for="ageAccess" class="age__label">Age</label>
                                <input type="button" value="Apply" class="applyAge">
                            </div>
                        </div>
                    </div>
                    <div class="btn-main">
                        <input type="button" value="Add New Link" id="addNewUrl" class="btnAdd">
                        <input type="button" value="Save" id="saveEdit" class="btnAdd">
                    </div>
                </div>

            </nav>
            <!-- nav for crop avtar -->
            <nav class="container__right scrollbar-hidden container__right--avatar">
                <div class="right__field scrollbar-hidden">
                    <h3>Crop Avatar</h3>
                    <button class="btn btn-success btn-block btn-upload-avatar">Upload Image</button>

                    <div id="upload-avatar"></div> @* Noi load anh khi chon file anh*@
                </div>
            </nav>

            <!-- nav for crop template -->
            <nav class="container__right scrollbar-hidden container__right--template">
                <div class="right__field scrollbar-hidden">
                    <h3>Crop Template</h3>
                    <button class="btn btn-success btn-block btn-upload-template">Upload Image</button>

                    <div id="upload-template"></div>

                </div>
            </nav>
        </main>
    </div>
    <!-- MODAL FOR AVATAR -->
    <!-- <div class="modalAvt" id="modalAvt">
        <div class="modal-container">
            <div class="modal-header">
                <i class="fas fa-crop-alt"></i>Crop & Upload Image
            </div>
            <div class="modal-body">
              <input type="file" name="fileAvt" id="fileAvt" accept="image/*">
              <label for="fileAvt" class="fileAvt__label"><i class="fa fa-image"></i> Choose a photo</label>
                <div class="avtShow" id="avtShow"></div>
            </div>
            <div class="btn-common">
                <input type="button" value="Cancel" class="btn-cancelAvt">
                <input type="button" value="Apply" class="btn-uploadAvt">
            </div>
        </div>
    </div> -->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.js'></script>
    <script src="~/MyScript/editDContact.js"></script>


</body>

</html>